<div class="container">
<div *ngIf="!loading">
  <div class="row" style="margin-top: 5%">
    <div class="col">
      <a routerLink="add" class="waves-effect waves-light btn teal darken-2">Add new url</a>
    </div>
  </div>
  <table class="styled-table">
    <thead>
    <tr>
      <th>Short Url</th>
      <th>Long Url</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let url of urls">
      <td>{{url.shortUrl}}</td>
      <td>{{url.longUrl}}</td>
      <button (click)="deleteUrl(url.id)" class="btn waves-effect waves-light  teal darken-2" type="submit" name="action">Remove
      </button>
      <button (click)="deleteUrl(url.id)" class="btn waves-effect waves-light  red darken-4" type="submit" name="action">Remove
      </button>
    </tr>

    </tbody>
  </table>
</div>
<div class="row" *ngIf="loading">
  <div class="col-12 center">
    <app-preloader></app-preloader>
  </div>

</div>
</div>
